.form__legend {
    border: 2px solid rgb(1, 101, 81);
    padding-inline: 20px;
    background-color: rgba(255, 255, 255, 0.671);

}

.form__field {
    width: 100px;
    border: 2px solid rgb(1, 101, 81);
    background-color: rgba(255, 255, 255, 0.671);
}

.form__button {
    color: rgb(255, 255, 255);
    background-color: rgb(1, 101, 81);
    border-color: white;
    box-shadow: 2px 2px 8px #ccc;
}

.form__result {
    color: rgb(1, 101, 81);
}

.form__paragraph {
    text-align: center;
}

.form__fieldset {
background-color: rgba(255, 255, 255, 0.541)
}