html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
  font-family: "Montserrat", sans-serif;
  background-image: url("background.jpg");
  background-position: center;
}

